:root {
    --cellSize: 100px;
    --x-color: #000;
    --x-hover: grey;
    --o-color: #000;
    --o-hover: grey;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
    background-color: black;
}
.cell {
    position: relative;
    width: var(--cellSize);
    height: var(--cellSize);
    background-color: white;
}
.cell:hover {
    cursor: pointer;
}
.notAllowed:hover {
    cursor: not-allowed;
}

.x-mark {
  position: relative;
  width: var(--cellSize);
  height: var(--cellSize);
}

.x-mark::before,
.x-mark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 10px;
  background-color: var(--x-color);
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.x-mark::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.x-hover:hover:not(.x-mark):not(.o-mark):not(.o-hover)::before,
.x-hover:hover:not(.x-mark):not(.o-mark):not(.o-hover)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 10px;
  background-color: var(--x-hover);
  filter: grayscale(70%) brightness(80%);
  transform-origin: center;
}

.x-hover:hover:not(.x-mark):not(.o-mark):not(.o-hover)::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-hover:hover:not(.x-mark):not(.o-mark):not(.o-hover)::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o-mark {
  position: relative;
  width: var(--cellSize);
  height: var(--cellSize);
}

.o-mark::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: 10px solid var(--o-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.o-hover:hover:not(.black-mark):not(.o-mark):not(.x-hover)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: 10px solid var(--o-hover);
  opacity: 0.6;
  filter: grayscale(70%) brightness(80%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}



#menu {
  position: relative;
  border: solid 2px black;
  border-radius: 6px;
  width: 50%;
  height: 80%;
  background-color: white;
  padding: 1rem;
  z-index: 99;
  display: grid;
  grid-auto-flow: row;
  gap: 12px;
}
#menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;          
  height: 100%;
  background-image: url(img/background.jpeg);
  opacity: 0.1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;           
  pointer-events: none; 
}

#player-one-menu,
#player-two-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}
input:not(#player-one-color):not(#player-two-color) {
  text-align: center;
  width: 200px;
  color: white;
}

#menu p {
  color: black;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.menu-overlay {
  background-color: rgba(0, 0, 0, .5);
  filter: blur(10px);
  pointer-events: none;
  z-index: 2;
}

#player-one-color,
#player-two-color {
  width: 200px;
}

.post-modal,
.pre-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.pre-modal {
  background-color: white;
  
}
.hidden {
  display: none;
}
#restart-btn,
#menu-btn,
#menu button,
#menu input:not(#player-one-color):not(#player-two-color) {
  text-align: center;
  width: 200px;
  padding: 1vw 2vw;
  border: solid 2px white;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
    font-size: 12px;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
}
#restart-btn:hover,
#menu-btn:hover,
#menu button:hover,
#menu input:focus {
  border: solid 2px black;
    background-color: white;
    color: black;
}
#win-message,
#menu p {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}
#stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: space-between;
  padding: 12px;
}
#playerOneStats,
#playerTwoStats {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

